.git
.gitignore
.gitattributes
.editorconfig

vendor
node_modules
bootstrap/cache/*.php

.env
.env.*
!.env.example

storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

tests
.phpunit.result.cache
phpunit.xml

compose.yaml
docker-compose.prod.yml

*.md
